.top-blocks-headings{
    font-size:1.2rem;
}

.top-blocks-subheadings{
    transform: scale(0.8);
}

.file_status{    
    width: 102%;
    background-color: rgb(192, 45, 45);
    color:white;
    border-radius: 2px;
    text-align: center;
}
.edit_button{
    padding: 4px;
    background-color: #545CD8;
    color:white;
    border-radius: 2px;
}
.delete_button{
    padding: 4px;
    background-color: #545CD8;
    color:white;
    border-radius: 2px;
    margin-left: 2px;
}
.download_button{
    padding: 1px;
    background-color: #545CD8;
    color:white;
}
