.profile_grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
}

.profile_grid_item{
    color: gray;
    padding:10%;
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 5px solid gray;
}

.profile_grid_item_contact{
    color:rgb(43, 43, 219);
    border-bottom: 5px solid rgb(43, 43, 219);
}

.profile_image{
    content:url("../../../../assets/utils/images/download.png");
    margin-top: 10px;
    display: inline-block;                
}